*{padding:0; margin:0;}
body{
    font-size:13px;
    color:#000;
    line-height:25px;
}
.main{
    clear:both;
}
#header{
    background-image: url(../images/bg.gif);
    background-repeat: repeat-x;
    height: 36px;
}
#headerLeft{width:200px;
    float:left;
}
#headerRight{width:160px;
    float:right;
    color:#FFF;
}
.register{padding: 5px;}
.register p{clear: both;}

#footer{text-align:center;
    color:#333;
    line-height:35px;
}
#footer a{
    color:#333;
    text-decoration:underline;
}
#footer hover{
    color:#333;
    text-decoration:none;
}